/* Set dimensions of elements proportional to dimensions of the viewport or window. */

/* Elements */

header {
    width: 95vw;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}


/* Classes */

.view {
    display: inline;
    float: left;
    margin: 5px;
    border: 5px solid black;
    padding: 10px;
    font-family: sans-serif;
}

.link {
    stroke-opacity: 1;
}

.linkmetabolite {
    stroke: grey;
    stroke-width: 2;
}

.linkreaction {
    stroke: black;
    stroke-width: 7;
    marker-end: url(#marker);
}

.nodemetabolite {
    r: 10;
    fill: blue;
}

.nodereaction {
    r: 1;
    fill: black;
}

.highlightnode {
    stroke: orange;
    stroke-width: 5;
}

.highlightlink {
    stroke: orange;
    stroke-width: 7;
}

/*.panel {
    fill: black;
    fill-opacity: 0.25;
    stroke: black;
    stroke-width: 5;
}*/

/* Identifiers */

#window {
    width: 97vw;
    height: 97vh;
}

#control {
    display: inline;
    float: left;
    width: 30vw;
    height: 90vh;
}

#query {
    display: inline;
    float: top;
    width: 90%;
    height: 7%;
}

#navigation {
    display: inline;
    float: top;
    width: 90%;
    height: 60%;
}

#degree-table {
    width: 95%;
    height: 90%;
}

#degree-table > th {
    font-family: sans-serif;
}

/*#degree-table > td {
    height: 20px;
}*/

/*#degree-table > .svg-bar {
    width: 100px;
    height: 50px;
} */

#exploration {
    display: inline;
    float: right;
    width: 60vw;
    height: 90vh;
}
